<div class="layout">
  <head><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  </head>
  <header>
    <nav>
      <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a>
      <a routerLink="/registration" routerLinkActive="active" ariaCurrentWhenActive="page">Registration</a>
      <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <p>&copy; 2024 Architektúra softvérových systémov</p>
  </footer>
</div>