<div class="layout">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <header>
    <nav>
      <div class="logo" routerLink="/login">
        <img src="./lock-256.png" alt="ROOMIFY Logo" class="logo-img" />
        <span class="typing-text">ROOMIFY</span>
      </div>
      <div class="nav-links">
        @if (isAuthenticated) {
          @if (isAdmin) {
        <a
          routerLink="/dashboard"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Dashboard</a
        >}
        <a
          routerLink="/access-simulation"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Access simulation</a
        >
        }
      </div>
      <div class="logout" *ngIf="isAuthenticated">
        <img
          src="./icons8-logout-48.png"
          alt="logout"
          class="logout-img"
          routerLink="/login"
          (click)="logout()"
        />
      </div>
      <div class="logout" *ngIf="!isAuthenticated">
        <a
          routerLink="/registration"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Registration</a
        >
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Login</a
        >
      </div>
    </nav>
  </header>

  <router-outlet></router-outlet>

  <footer>
    <p>&copy; 2024 Architektúra softvérových systémov</p>
  </footer>
</div>
