<div style="display: flex; justify-content: space-between; align-items: center; padding: 0 20px 0 20px">
  <div>
    <h1>Card Management</h1>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
  <img src="./add.png" alt="Add New Card" (click)="initiateAddCard(); showModal();" title="Add New Card" style="width: 30px; height: 30px; cursor: pointer;">
</div>
<!-- Cards Table -->
<table>
  <thead>
    <tr>
      <th>Serial Number</th>
      <th>Card Name</th>
      <th>Expiration</th>
      <th>User ID</th>
      <th>User</th>
      <th style="display: flex; justify-content: flex-end;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="filter-row">
      <td></td>
      <td><input [(ngModel)]="filter.card_id" type="text" placeholder="Filter by Name" (change)="onFilterChange()"></td>
      <td></td>
      <td><input [(ngModel)]="filter.user_id" type="text" placeholder="Filter by User ID" (change)="onFilterChange()"></td>
      <td><input [(ngModel)]="filter.user_name" type="text" placeholder="Filter by User" (change)="onFilterChange()"></td>
      <td></td>
    </tr>
    <tr *ngFor="let card of cards">
      <td>{{ card.uid }}</td>
      <td>{{ card.card_id }}</td>
      <td>{{ card.expiration_date | date: 'longDate' }}</td>
      <td>{{ card.user }}</td>
      <td>{{ card.user_name }}</td>
      <td class="align-end" style="gap: 20px; display: flex; justify-content: flex-end;">
        <img src="./editing.png" alt="Edit Card" (click)="editCard(card); showModal();" title="Edit Card" style="width: 25px; height: 25px; cursor: pointer;">
        <img src="./bin.png" alt="Delete Card" (click)="deleteCard(card.uid);" title="Delete Card" style="width: 25px; height: 25px; cursor: pointer;">
      </td>
    </tr>
  </tbody>
</table>

<!-- Pagination Controls -->
<div class="pagination">
  <button class="pagination-button" (click)="changePage(1)">First</button>
  <button  class="pagination-button" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>
  <span style="font-size: 13px; color: rgb(110, 110, 110);">Page {{currentPage}}</span>
  <button  class="pagination-button" (click)="changePage(currentPage + 1)" [disabled]="cards.length !== 25">Next</button>
  <button  class="pagination-button" (click)="changePage(-1)">Last</button>
</div>

<app-modal
  [title]="isEditing ? 'Edit Card' : 'Add Card'"
  [isVisible]="isModalVisible"
  (close)="onModalClose()"
>
  <!-- Add/Edit Card Form -->
<div *ngIf="isEditing || selectedCard">
  <form (ngSubmit)="isEditing ? updateCard() : addCard(selectedCard!)">
    <!-- User ID Dropdown -->
    <label>User</label>
    <select
      [(ngModel)]="selectedCard!.user"
      name="user"
      [disabled]="isEditing"
      required
    >
      <option *ngFor="let user of users" [value]="user.id">
        {{ user.username }} (ID: {{ user.id }})
      </option>
    </select>

    <label>Card Name</label>
    <input
      [(ngModel)]="selectedCard!.card_id"
      name="card_id"
      placeholder="Enter Card Name"
      required
    />

    <label>Expiration Date</label>
    <input
      [(ngModel)]="selectedCard!.expiration_date"
      name="expiration_date"
      type="date"
      required>
    <div style="display: flex; justify-content: space-between;">
      <button class="cancel-button" type="button" (click)="cancelEdit(); onModalClose()">Cancel</button>
      <button type="submit" (click)="onModalClose()" class="submit-button">
        {{ isEditing ? 'Update Card': 'Add Card' }}
      </button>
    </div>
  </form>
</div>
</app-modal>
