<div style="display: flex; justify-content: space-between; align-items: center; padding: 0 20px 0 20px">
  <div>
    <h1>Rooms Management</h1>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
  <img src="./add.png" alt="Add New Room Reader" (click)="initiateAdd(); showModal();" title="Add New Room Reader"
    style="width: 30px; height: 30px; cursor: pointer;">
</div>

<!-- Room Readers Table -->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>IP Address</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="filter-row">
      <td><input [(ngModel)]="filter.name" type="text" placeholder="Filter by Name" (change)="onFilterChange()"></td>
      <td><input [(ngModel)]="filter.ip" type="text" placeholder="Filter by IP" (change)="onFilterChange()"></td>
      <td style="display: flex;">
        <label style="color: gray;" for="active">Active</label>
        <input [(ngModel)]="active" name="active" type="checkbox" (change)="onFilterChange()">
        <label style="color: gray;" for="inactive">Inactive</label>
        <input [(ngModel)]="inactive" name="inactive" type="checkbox" (change)="onFilterChange()">
      </td>
      <td></td>
    </tr>
    <tr *ngFor="let reader of roomReaders">
      <td>{{ reader.name }}</td>
      <td>{{ reader.ip }}</td>
      <td [ngClass]="{ 'reader-active': reader.active, 'reader-inactive': !reader.active }">{{ reader.active ? "Active"
        : "Inactive" }}</td>
      <td class="align-end" style="gap: 20px; display: flex; justify-content: flex-end;">
        <img src="./editing.png" alt="Edit Room Reader" (click)="initiateEdit(reader); showModal();"
          title="Edit Room Reader" style="width: 25px; height: 25px; cursor: pointer;">
        <img src="./bin.png" alt="Delete Room Reader" (click)="deleteRoomReader(reader.uid)" title="Delete Room Reader"
          style="width: 25px; height: 25px; cursor: pointer;">
      </td>
    </tr>
  </tbody>
</table>

<!-- Pagination Controls -->
<div class="pagination">
  <button class="pagination-button" (click)="changePage(1)">First</button>
  <button class="pagination-button" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>
  <span style="font-size: 13px; color: rgb(110, 110, 110);">Page {{currentPage}}</span>
  <button class="pagination-button" (click)="changePage(currentPage + 1)"
    [disabled]="roomReaders.length !== 25">Next</button>
  <button class="pagination-button" (click)="changePage(-1)">Last</button>
</div>

<app-modal [title]="isEditing ? 'Edit Room Reader' : 'Add Room Reader'" [isVisible]="isModalVisible"
  (close)="onModalClose()">
  <!-- Add/Edit Room Reader Form -->
  <div *ngIf="selectedRoomReader">
    <form (ngSubmit)="
      isEditing ? updateRoomReader() : createRoomReader(selectedRoomReader)
    ">
      <label>Name</label>
      <input [(ngModel)]="selectedRoomReader.name" name="name" required />

      <label>IP Address</label>
      <input [(ngModel)]="selectedRoomReader.ip" name="ip" required />

      <label>State</label>
      <select [(ngModel)]="selectedRoomReader.active" name="reader_state" required>
        <option [ngValue]="true">Active</option>
        <option [ngValue]="false">Inactive</option>
      </select>

      <div style="display: flex; justify-content: space-between;">
        <button class="cancel-button" type="button" (click)="cancelEdit(); onModalClose()">Cancel</button>
        <button type="submit" (click)="onModalClose()" class="submit-button">
          {{ isEditing ? 'Update Reader ' : 'Add Reader' }}
        </button>
      </div>
    </form>
  </div>
</app-modal>