<div style="display: flex; justify-content: space-between; align-items: center; padding: 0 20px 0 20px">
  <div>
    <h1>Rooms Management</h1>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
  <img src="./add.png" alt="Add New Room Reader" (click)="initiateAdd(); showModal();" title="Add New Room Reader" style="width: 30px; height: 30px; cursor: pointer;">
</div>

<!-- Room Readers Table -->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>IP Address</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reader of roomReaders">
      <td>{{ reader.name }}</td>
      <td>{{ reader.ip }}</td>
      <td>{{ reader.reader_state ? "Active" : "Inactive" }}</td>
      <td class="align-end" style="gap: 20px; display: flex; justify-content: flex-end;">
        <img src="./editing.png" alt="Edit Room Reader" (click)="initiateEdit(reader); showModal();" title="Edit Room Reader" style="width: 25px; height: 25px; cursor: pointer;">
        <img src="./bin.png" alt="Delete Room Reader" (click)="deleteRoomReader(reader.uid)" title="Delete Room Reader" style="width: 25px; height: 25px; cursor: pointer;">
      </td>
    </tr>
  </tbody>
</table>

<app-modal
  [title]="isEditing ? 'Edit Card' : 'Add Card'"
  [isVisible]="isModalVisible"
  (close)="onModalClose()"
>
<!-- Add/Edit Room Reader Form -->
<div *ngIf="selectedRoomReader">
  <h2>{{ isEditing ? "Edit Room Reader" : "Add Room Reader" }}</h2>
  <form
    (ngSubmit)="
      isEditing ? updateRoomReader() : createRoomReader(selectedRoomReader)
    "
  >
    <label>Name:</label>
    <input [(ngModel)]="selectedRoomReader.name" name="name" required />

    <label>IP Address:</label>
    <input [(ngModel)]="selectedRoomReader.ip" name="ip" required />

    <label>State:</label>
    <select
      [(ngModel)]="selectedRoomReader.reader_state"
      name="reader_state"
      required
    >
      <option [ngValue]="true">Active</option>
      <option [ngValue]="false">Inactive</option>
    </select>

    <button type="submit" (click)="onModalClose()">{{ isEditing ? "Update" : "Create" }}</button>
    <button type="button" (click)="cancelEdit(); onModalClose()">Cancel</button>
  </form>
</div>
</app-modal>

