<div style="display: flex; justify-content: space-between; align-items: center; padding: 0 20px 0 20px">
  <div>
    <h1>User Management</h1>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
  <!-- <button (click)="initiateAddCard()">Add New Card</button> -->
  <img src="./add.png" alt="Add New User" (click)="initiateAddUser()" title="Add New User" style="width: 30px; height: 30px; cursor: pointer;">
</div>

<!-- Users Table -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th style="display: flex; justify-content: flex-end;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td class="align-end" style="gap: 20px; display: flex; justify-content: flex-end;">
        <img src="./editing.png" alt="Edit Card" (click)="editUser(user)" title="Edit User" style="width: 25px; height: 25px; cursor: pointer;">
        <img src="./bin.png" alt="Delete Card" (click)="deleteUser(user.id)" title="Delete User" style="width: 25px; height: 25px; cursor: pointer;">
      </td>
    </tr>
  </tbody>
</table>

<!-- Add/Edit User Form -->
<div *ngIf="isEditing || selectedUser">
  <h2 *ngIf="!isEditing">Add User</h2>
  <h2 *ngIf="isEditing">Edit User</h2>
  <form (ngSubmit)="isEditing ? updateUser() : addUser(selectedUser!)">
    <label>Username:</label>
    <input [(ngModel)]="selectedUser!.username" name="username" required />

    <label>First Name:</label>
    <input [(ngModel)]="selectedUser!.first_name" name="first_name" required />

    <label>Last Name:</label>
    <input [(ngModel)]="selectedUser!.last_name" name="last_name" required />

    <label>Email:</label>
    <input [(ngModel)]="selectedUser!.email" name="email" required />

    <label>Password:</label>
    <input
      [(ngModel)]="selectedUser!.password"
      name="password"
      type="password"
      required
    />

    <button type="submit">
      {{ isEditing ? "Update User" : "Add User" }}
    </button>
    <button type="button" (click)="cancelEdit()">Cancel</button>
  </form>
</div>
